.sidebar {
    background-position-x: right;
    background-position-y: top;
    float: Right;
    object-position: initial;
}
.carbody {
    float: left;
}

.cardcontainer {
    float: left;

}


.boardTitle {
    position:center;
    margin-left: 30px;
    font-weight: bold;
       
}
.card {
    background-color: rgb(28, 44, 18);
}
h2 {
    position: center;
}
