.side-bar {
    position: absolute;
    right: 0;
    float: Right;
    object-position: top;
    height: 100% !important;
    border-style: double;
    border-width: 25px;
    border-color: forestgreen;

   
    /* display: flex;
    flex-direction: row; */
    /* border-right: 1px solid; */
    /* border-radius: 0; */
    /* border-color: rgba(64, 194, 133, 0.693);
    background-color: rgb(255, 255, 255); */
    /* transition: 0.8s ease; */
    /* width: flex;
    flex-grow: sticky; */
  
}

