.navbar {
    margin-top: auto;
   
     
   }

   #nav-container {
    align-items: flex-end;
    
  }

  .App-title {
    
    color: orangered;
  }

  #nav-container {
    align-items: flex-end;
    
  }

  .textWord {
    margin-left: 30px;
  }

 .btnRoute {
   margin-right: 4em;
   float: right;
   background-color: black;
}